:root {
  font-family: 'Figtree Variable', system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #bde6ee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar-track {

  border-radius: 20px;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #E9AFC5;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #E9AFC5;

}

html {
  scroll-behavior: smooth;
}

