/* 
//Main Color Palette: //

Hexachrome_Green: #029C53,
Thistle: #DAGSFA,
Dandelion: #FBFE87,
Sky_Blue: #BDE6EE,
Oriole: #F5581C,
Cherry Blossom: #FFB2CE
*/

/* entire search < form >  */
.searchContainer {
    border-radius: 50px ;
}

.searchInput:focus{
    outline: none;
}

/* <MDBRow > that contains search input and submit button */

    /* MDBCol that holds search button */
    /* .searchBtnCol {
       
    } */
        /* MDB button type="submit" */
        .searchSubmitBtn {
            background-color: #E9AFC5; 
        
       
            border-radius: 50px;

            color: black;
            font-weight: 700;

            /* padding-right: -10; */
            /* display: flex; */
            /* justify-self: end; */
        } 

        .searchSubmitBtn:hover {
            background-color: #F5581C;
        }
    /* Search input */
    /* .filterSearch {
        
    } */
    /* .searchInput  {
        border: 2px solid black;
        border-radius: 50%; 
         padding-left: -10;
} */

/* 2nd row - toggles and filters */


/* .remoteSwitchCol {
    justify-content: start;
    
} */

/* .cityCol {
    border: 1px solid yellow;
}
.stateCol {
    border: 1px solid orange;

}
.expCol {
    border: 1px solid green;

} */
/* .sortByCol {
    border: 1px solid blue;
    justify-items: center;
} */
/* .moreToggleCol {
    align-items: center;
    border:1px solid purple;
} */