
.bg-jumbo {
    background-image: url('../../assets/job_board_bg.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100;
    background-attachment: fixed;
    font-family: 'Figtree';
}

.tagGrab {
    font-size: 80px;
    font-family: 'Figtree';
    font-family: 'Beau Rivage';
    font-family:  'Grape Nuts';
}


.tagLine {
    display: flex;
    margin-bottom: 10;
    font-size: 50px;
}

#letsGo {
    background-color: #029C53;
    color: white;
    font-size: 20px;
}

.btn:hover{
    color:antiquewhite
}

