.NavbarLogo {
<<<<<<< HEAD
=======

>>>>>>> cfe70b6 (Start backend and axios requests in frontend)
   background-image: url('../../assets/ya-shi.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: auto;
}

.navBarCollapse {
   align-items: center;
}

.toggleDropDown {
   padding-left: 0;
   margin-top: 3;
<<<<<<< HEAD
}
=======
}

 .navBarCollapse {
    align-items: center;
 }

 .toggleDropDown {
    padding-left: 0;
    margin-top: 3;
 }

>>>>>>> cfe70b6 (Start backend and axios requests in frontend)
